.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  /* position: sticky; */
  top: 0;
  z-index: 100;
}
.hdr div {
  background-color: black !important;
}
.icon:hover {
  color: rgb(214, 132, 24) !important ;
}
/* .hmg {
  background-color: rgb(209, 209, 209);
} */
.hambergar {
  color: white;
  background-color: rgb(255, 255, 255) !important;
  /* height: 100%; */
  margin-left: 3px;
  cursor: pointer;

  padding: 3px 5px;
  padding-bottom: 5px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 18px;
  margin-top: 16px;
}
.header_search {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  height: 24px;
}
.header_search input {
  display: block;
  width: 100%;
  height: 100%;
}
.search_icon {
  background-color: rgb(199, 150, 86);
  color: #fff;
  position: absolute;
  right: 0;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 10px;
}

.header_option1 {
  font-size: 13px;
}
.header_option2 {
  font-size: 13px;
  font-weight: bolder;
}
.basket {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 998px) {
  .header_logo {
    width: 80px;
  }
}
@media screen and (max-width: 440px) {
  .header_logo {
    width: 80px;
  }
}

@media screen and (max-width: 500px) {
  .mobile-nav div {
    font-size: 0.8rem !important;
  }
}
